body {
    width: 80%;
    margin: auto;
    background-image: url(img/Cool-Grey-Wallpapers-Backgrounds-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contenu {
    width: 100%;
    margin: auto;
}

#carouselExampleIndicators {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    background: black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.carousel-inner, .carousel-item img {
    height: 450px;
    width: auto;
}